html {
    height: 100%;
}

body {
    height: 100%;
    background-color: orange;
    
}
img{
    width:900px;
    padding:100px;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
